# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# ML training logs
lightning_logs/
lightning_logs
mfcc_*/
experiments/

# OS files
.DS_Store
Thumbs.db